* {
  font-family: "Rubik", Arial, Helvetica, sans-serif !important;
}

body {
  margin-left: 15vw;
  margin-right: 15vw;
}

.apr-header {
  margin-top: 3vh;
  background: #002735;
  background: linear-gradient(90deg, rgba(0, 39, 53, 1) 0%, rgba(2, 169, 136, 1) 100%);
  color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vh 0;
  font-weight: bold;
  font-size: 1rem;
}
